*,
*::before,
*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

@font-face {
  font-family: 'Geom';
  src: url("./Geom-VariableFont_wght.ttf") format('truetype');
}

body{
  display:flex;
  flex-direction: column;
  gap: 1.5em;
  justify-content: center;
  height: 100vh;
  background: #284b63;
  font-family: 'Geom'
}

header, section{
  margin: 0 auto;
}

.turn-x, .turn-o{
  font-size: 1.5em;
}
.turn-x {
  color: crimson;
}

.turn-o{
  color: dodgerblue;
}

.container{
  margin: 0 auto;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.cell{
  min-width: 100px;
  min-height: 100px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 50px;
}

.cell:hover{
  opacity: 0.5;
}

button{
  background:none;
  border:none;
  cursor: pointer;
}

#refresh{
  width: 50px;
  height: 50px;
}

.invisible{
  display: none;
}

.winning-screen{
  width: 100px;
  position: absolute;
}