*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

@font-face {
  font-family: "Geom";
  src: url("./Geom-VariableFont_wght.ttf") format("truetype");
}

body {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  justify-content: center;
  height: 100vh;
  background: #284b63;
  font-family: "Geom";
}

header,
section {
  margin: 0 auto;
}

h1{
  font-size: clamp(1.5rem, 1.099rem + 1.835vw, 2.75rem)
}

.turn-x,
.turn-o {
  font-size: 1.5em;
}
.turn-x {
  color: crimson;
}

.turn-o {
  color: dodgerblue;
}

.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.cell {
  min-width: 100px;
  min-height: 100px;
  height: auto;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 50px;
}

.cell:hover {
  opacity: 0.5;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  max-width: 50px;
  margin: 0 auto;
}

#refresh {
 width: 100%;
}

.invisible {
  display: none;
}

.winning-screen {
  margin: 0 auto;
  font-size: 30px;
}

@media screen and (max-width: 400px) {
  .cell {
  min-width: 75px;
  min-height: 75px;}
}

@media screen and (min-width: 1600px) {
  .cell {
  min-width: 125px;
  min-height: 125px;}


}