*,
*::before,
*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  display:flex;
  align-items:center;
  flex-direction: column;
  gap: 1.5em;
  justify-content: center;
  height: 100vh;
  background: #284b63;
}


.container{
  margin: 0 auto;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.columns{
  min-width: 100px;
  min-height: 100px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 50px;
}


.columns:hover{
  opacity: 0.5;
}